@font-face {
    font-family: "bl-icon-set";
    src: url("./bl-icon-set.woff2?6362d818949c27a247161edc68b1a9e0") format("woff2"),
url("./bl-icon-set.woff?6362d818949c27a247161edc68b1a9e0") format("woff"),
url("./bl-icon-set.ttf?6362d818949c27a247161edc68b1a9e0") format("truetype"),
url("./bl-icon-set.svg?6362d818949c27a247161edc68b1a9e0#bl-icon-set") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: bl-icon-set !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
    content: "\f101";
}
.icon-x:before {
    content: "\f102";
}
.icon-world-class-support:before {
    content: "\f103";
}
.icon-vscode:before {
    content: "\f104";
}
.icon-tower:before {
    content: "\f105";
}
.icon-tooling:before {
    content: "\f106";
}
.icon-token:before {
    content: "\f107";
}
.icon-threads:before {
    content: "\f108";
}
.icon-testing:before {
    content: "\f109";
}
.icon-syntax:before {
    content: "\f10a";
}
.icon-synamic:before {
    content: "\f10b";
}
.icon-superior-performance:before {
    content: "\f10c";
}
.icon-slash:before {
    content: "\f10d";
}
.icon-slack:before {
    content: "\f10e";
}
.icon-serverless:before {
    content: "\f10f";
}
.icon-server:before {
    content: "\f110";
}
.icon-search:before {
    content: "\f111";
}
.icon-scripting:before {
    content: "\f112";
}
.icon-screen:before {
    content: "\f113";
}
.icon-schedule:before {
    content: "\f114";
}
.icon-redis:before {
    content: "\f115";
}
.icon-python:before {
    content: "\f116";
}
.icon-puzzles:before {
    content: "\f117";
}
.icon-prices:before {
    content: "\f118";
}
.icon-podcast:before {
    content: "\f119";
}
.icon-plus:before {
    content: "\f11a";
}
.icon-play:before {
    content: "\f11b";
}
.icon-patreon:before {
    content: "\f11c";
}
.icon-opensource:before {
    content: "\f11d";
}
.icon-open:before {
    content: "\f11e";
}
.icon-multidevice:before {
    content: "\f11f";
}
.icon-multi-runtime:before {
    content: "\f120";
}
.icon-modular:before {
    content: "\f121";
}
.icon-minus:before {
    content: "\f122";
}
.icon-meta-programming:before {
    content: "\f123";
}
.icon-linkedin:before {
    content: "\f124";
}
.icon-lambda:before {
    content: "\f125";
}
.icon-java:before {
    content: "\f126";
}
.icon-home:before {
    content: "\f127";
}
.icon-github:before {
    content: "\f128";
}
.icon-functions:before {
    content: "\f129";
}
.icon-ftp:before {
    content: "\f12a";
}
.icon-framework:before {
    content: "\f12b";
}
.icon-file:before {
    content: "\f12c";
}
.icon-facebook:before {
    content: "\f12d";
}
.icon-experience:before {
    content: "\f12e";
}
.icon-event:before {
    content: "\f12f";
}
.icon-ecosystem:before {
    content: "\f130";
}
.icon-dynamic:before {
    content: "\f131";
}
.icon-download:before {
    content: "\f132";
}
.icon-document:before {
    content: "\f133";
}
.icon-docker:before {
    content: "\f134";
}
.icon-discourse:before {
    content: "\f135";
}
.icon-digital-ocean:before {
    content: "\f136";
}
.icon-dependency:before {
    content: "\f137";
}
.icon-debug:before {
    content: "\f138";
}
.icon-copy:before {
    content: "\f139";
}
.icon-community:before {
    content: "\f13a";
}
.icon-colon:before {
    content: "\f13b";
}
.icon-close:before {
    content: "\f13c";
}
.icon-chrome:before {
    content: "\f13d";
}
.icon-chevron-up:before {
    content: "\f13e";
}
.icon-chevron-right:before {
    content: "\f13f";
}
.icon-chevron-left:before {
    content: "\f140";
}
.icon-chevron-down:before {
    content: "\f141";
}
.icon-check:before {
    content: "\f142";
}
.icon-cfschedule:before {
    content: "\f143";
}
.icon-caching:before {
    content: "\f144";
}
.icon-bx-web-support:before {
    content: "\f145";
}
.icon-bx-wddx:before {
    content: "\f146";
}
.icon-bx-validate:before {
    content: "\f147";
}
.icon-bx-sqlite:before {
    content: "\f148";
}
.icon-bx-spreadsheet:before {
    content: "\f149";
}
.icon-bx-servlet:before {
    content: "\f14a";
}
.icon-bx-postgresql:before {
    content: "\f14b";
}
.icon-bx-pop:before {
    content: "\f14c";
}
.icon-bx-pdfplus:before {
    content: "\f14d";
}
.icon-bx-pdf:before {
    content: "\f14e";
}
.icon-bx-password-encryption:before {
    content: "\f14f";
}
.icon-bx-oshi:before {
    content: "\f150";
}
.icon-bx-orm:before {
    content: "\f151";
}
.icon-bx-oracle:before {
    content: "\f152";
}
.icon-bx-mysql:before {
    content: "\f153";
}
.icon-bx-mssql:before {
    content: "\f154";
}
.icon-bx-markdown:before {
    content: "\f155";
}
.icon-bx-mariadb:before {
    content: "\f156";
}
.icon-bx-mail:before {
    content: "\f157";
}
.icon-bx-ldap:before {
    content: "\f158";
}
.icon-bx-jsoup:before {
    content: "\f159";
}
.icon-bx-ini:before {
    content: "\f15a";
}
.icon-bx-image:before {
    content: "\f15b";
}
.icon-bx-hypersql:before {
    content: "\f15c";
}
.icon-bx-feed:before {
    content: "\f15d";
}
.icon-bx-esapi:before {
    content: "\f15e";
}
.icon-bx-derby:before {
    content: "\f15f";
}
.icon-bx-csv:before {
    content: "\f160";
}
.icon-bx-csrf:before {
    content: "\f161";
}
.icon-bx-couchbase:before {
    content: "\f162";
}
.icon-bx-compact-ui:before {
    content: "\f163";
}
.icon-bx-charts:before {
    content: "\f164";
}
.icon-bx-admin:before {
    content: "\f165";
}
.icon-bluesky:before {
    content: "\f166";
}
.icon-blog:before {
    content: "\f167";
}
.icon-bl-horn:before {
    content: "\f168";
}
.icon-bl-framework:before {
    content: "\f169";
}
.icon-backslash:before {
    content: "\f16a";
}
.icon-arrow-up:before {
    content: "\f16b";
}
.icon-arrow-right:before {
    content: "\f16c";
}
.icon-arrow-left:before {
    content: "\f16d";
}
.icon-arrow-down:before {
    content: "\f16e";
}
.icon-ai:before {
    content: "\f16f";
}
.icon-YAML:before {
    content: "\f170";
}
.icon-UI-form:before {
    content: "\f171";
}
.icon-untitled-folder-document:before {
    content: "\f172";
}
