@font-face {
    font-family: "my-icon-font";
    src: url("./my-icon-font.woff2?8ef3b068701bbb1fc61299442ea6c376") format("woff2"),
url("./my-icon-font.woff?8ef3b068701bbb1fc61299442ea6c376") format("woff"),
url("./my-icon-font.ttf?8ef3b068701bbb1fc61299442ea6c376") format("truetype"),
url("./my-icon-font.svg?8ef3b068701bbb1fc61299442ea6c376#my-icon-font") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: my-icon-font !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\f101";
}
.icon-time-past:before {
    content: "\f102";
}
.icon-shopping-cart:before {
    content: "\f103";
}
.icon-settings-sliders:before {
    content: "\f104";
}
.icon-search:before {
    content: "\f105";
}
.icon-power:before {
    content: "\f106";
}
.icon-pencil:before {
    content: "\f107";
}
.icon-heart:before {
    content: "\f108";
}
.icon-comment-alt:before {
    content: "\f109";
}
.icon-apps:before {
    content: "\f10a";
}
